# Ignorar node_modules para evitar copiar las dependencias locales al contenedor
node_modules/

# Ignorar lock files locales
pnpm-lock.yaml

# Ignorar directorios de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de configuración específicos de entorno

.env
.env.local
.env.development
.env.test

# Ignorar archivos de log

\*.log

# Ignorar archivos temporales de macOS

.DS_Store

# Ignorar otros archivos innecesarios

_.bak
_.tmp


# Ignorar salida de builds antiguos
dist/