# === Node/Frontend ===
node_modules/
dist/
build/
.env
.vercel/

# === Python/Backend ===
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.VENV/
.venv/
*.env
*.sqlite3

# === Machine Learning models ===
*.pt
*.bin
fine_tuned_model/
dataset/
train.jsonl
val.jsonl
prod/
!prod/model.py

# === System Files ===
.DS_Store
Thumbs.db

# === Logs and Temporary Files ===
*.log
*.tmp
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local

# === IDEs ===
.vscode/
!.vscode/extensions.json
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === OS Files ===
ehthumbs.db
Desktop.ini

# === Testing & Coverage ===
htmlcov/
coverage.*
.tox/
.pytest_cache/
.cache/

# === Miscellaneous ===
notas.md
