/* Ocultar y mostrar con animación */
/* TODO: no se si aplicará */
.input-area,
.output-area {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.button-group {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
