.output-viewport {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .output-viewport {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 2rem 4rem;
  }

  .output-viewport > :nth-child(3) {
    grid-column: 1 / -1;
  }
}

.diagram-container.full {
  justify-content: flex-start;
  padding-left: 1rem;
}

.btn-primary,
.btn-secondary {
  margin: auto;
}

/* FILE STRUCTURE */
/* TODO: hay algo que solapa con los estilos de descriptionContainer y por tanto tambien con technologiesContainer */
.structure-root {
  list-style-type: none;
  padding-left: 20px;
}

.folder::before {
  content: "📁 ";
}

.file::before {
  content: "📄 ";
}

.collapsible {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  margin-right: 5px;
}

.arrow.open {
  transform: rotate(90deg);
}

.nested {
  display: block; /* Mostrar todas abiertas por defecto */
}
